body {
    background-color: black;
    color: white;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    padding: 5%;
}

#movie {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    
}

#header {
    text-align: center;
}

.card-header {
    font-size: 22pt;
    background-color: black;
    color: #7e26dc;
}

.sub-header {
    font-size: 14pt;
    background-color: darkgray;
    color: black;
}

#locations {
    color: white;
    margin-top: 100px;
    text-align: center;
    
}

#buttons {
    text-align: center;
     margin-left: 25%;
     margin-bottom: 5%;
    
}

#locationDiv {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

#searchBar {
    margin-left: 24%;
    margin-bottom: 2%;
    width: 50%;
    
}
.btn {
    margin: 0 5px 0 1px;
}

.card-img-top {
    border-radius: 15px;
    /* border: 2px solid rgb(85, 77, 77); */
    /* padding: 7px; */ 
    box-shadow: 5px 5px;

  }

 
  