body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#movie {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    
}

.movie {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

#header {
    text-align: center;
}

.card-header {
    font-size: 22pt;
    background-color: black;
    color: #7e26dc;
}

.sub-header {
    font-size: 14pt;
    background-color: darkgray;
    color: black;
    padding: 2px;
}

#locations {
    color: white;
    margin-top: 15px;
    text-align: center;
    
}

#buttons {
    text-align: center;
     margin-left: 29%;
     
    
}

#locationDiv {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

#searchBar {
    margin-left: 29.5%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 40%;
    
}
.btn {
    margin: 0 5px 0 1px;
}

.card-img-top {
    border-radius: 15px;
    /* border: 2px solid rgb(85, 77, 77); */
    /* padding: 7px; */ 
    box-shadow: 5px 5px;

  }

  .logo {
      margin-right: 4%;
  }

  #locationsWrapper, #moviesWrapper {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 15px;
  }
 
  hr {
      color: white;
  }
  