body {
    background-color: black;
    color: white;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    padding: 5%;
}

.row {
    border: 3px solid black;
}

img {
    align-content: flex-end;
}

#movie {
    text-align: center;
    position: absolute;
    left: 45px;
    top: 38px;
    z-index: 1;
}

#header {
    position: absolute;
    right: 35px;
    top: 38px;
    z-index: 1;
}



#locations {
    color: black;
    margin-top: 250px;
}